
form{
    text-align: center;
    margin-top:3rem;
    label{
        display: block;
        font-size: 30px;
        margin-bottom: 1rem;
    }
    input{
        border-radius: 5px;
        padding-left: 5px;
        height: 30px;
    }

}